*{

    margin: 0px;
    padding: 0px;
    
    }
    
    input{
    
    display: block;
    height: 35px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 15px;
    
    }

    #um{

        height:620px;
        overflow: auto;
    }        
    
    
    #content{
        overflow: auto;   
    }

    #corpoform{
    
     background: #DCDCDC;   
     width: 85%;
     margin: 20px auto 0px auto;  
     
    }

    #corpoform2{
    
        background: #DCDCDC;   
        width: 85%;
        margin: 20px auto 0px auto;  
        
       }

        
    #familiacab{
       
        width:100%;
        height: 70px;
        background: none;
        text-align: center;
    }

    #q1{
        width:28%;
        float:left;
        margin-left:0.5%;
        background: #E6E6FA;
        height: 70px;
        /* border:solid 1px; */
        border-radius:10px;
        margin-top:0.4%;
    }

    #q2{
        width:20%;
        float:left;
        margin-left:1.6%;
        background: #E6E6FA;
        height: 70px;
        /* border:solid 1px; */
        border-radius:10px;
        margin-top:0.4%;
    }

    #q3{
        width:28%;
        float:left;
        margin-left:1.6%;
        background: #E6E6FA;
        height: 70px;
        /* border:solid 1px; */
        border-radius:10px;
        margin-top:0.4%;
    }

    #q4{
        width:18%;
        float:left;
        margin-left:1.6%;
        height: 70px;
        background: #E6E6FA;
        /* border:solid 1px; */
        border-radius:10px;
        margin-top:0.4%;
    }

    #fc1{

        width:100%;
        background: none;
        float:left;
    }

    #fc2{

        width:100%;
        background: none;
        float:left;
    }

    #fc3{

        width:100%;
        background: none;
        float:left;
    }

    #fc4{

        width:100%;
        background: none;
        float:left;
    }

    #familia{
    
        width:100%;
        height: 10px;
        background: none;
        
    }

    #f0{

        width:100%;
        background: none;
        float:left;
    }

    #f1{

        width:100%;        
        background: none;
        float:left;
    }

    #f2{

        width:100%;
        background: none;
        float:left;
    }

    #f3{

        width:100%;
        background: none;
        float:left;
    }
    
    
    #cima{
    
    float:left;
    width:46%;
    height: 380px;
    background: #E6E6FA;
    border:solid 1px;
    border-radius: 10px;
    
    }

    #cima2{
    
        float:left;
        width:46%;
        height: 320px;
        background: #E6E6FA;
        border:solid 1px;
        border-radius: 10px;
        
        }
    
    
    #foto{
    
    margin-left: 10px;
    width: 24%;
    height: 130px;
    background: grey;
    float: left;
    margin-top: 10px;
    
    }
    
    
    
    #peq{
    
    width: 70%;
    background:none;
    float: right;
    margin-top:2px;
    margin-right: 2px;
    
    }
    
    #sus{
    
        display: block;
        height: 35px;
        width: 280px;
        margin: 5px;
        border-radius: 30px;
        border: 1px solid black;
        font-size: 16pt;
        padding: 15px;    
    
    }
    
    #cpf{
    
        display: block;
        height: 35px;
        width: 280px;
        margin: 5px;
        border-radius: 30px;
        border: 1px solid black;
        font-size: 16pt;
        padding: 15px;    
    
    }
    
    
    #nasc{
    
        display: block;
        height: 35px;
        width: 280px;
        margin: 5px;
        border-radius: 30px;
        border: 1px solid black;
        font-size: 16pt;
        padding: 15px;    
    
    }
    
    #campos{
    
        float:right;
        width:46%;
        background: #E6E6FA;
        height: 380px;
        border:solid 1px;
        border-radius: 10px;
    }

    #campos2{
    
        float:right;
        width:46%;
        background: #E6E6FA;
        height: 320px;
        border:solid 1px;
        border-radius: 10px;
    }
    
    #botao{
    
       
        padding: 0;
        width:100%;
        
    
    }
    
    .salvo{
    
       background: darkgrey;
    
    }
    
    #bt2{
    
        background: pink;
        text-align: center;
        width:400px;
    
    }
    
    #salvar{
    
        width:50%;
    
    }
    
    #salvar3{
    
        width:100%;
    
    }
    
    #inform{
    
        width:80px;
    }

    #inform2{
    
        width:160px;
    }
    
    #alinhabt{
    
       width:100%;
       height:50px;
       /* border: solid 1px;
       border-radius: 10px; */
    
    }
    
    #botao2{
        
        background: pink;
        height:50px;
    }

    #cab{
        width:100%;
        background: red;
    }

    #parentesco{
        height:510px;
        width:98%;
        border:solid 1px;
        border-radius:10px;   
        background: none;
        margin-top: 0.7%;
        margin-left: 0.7%;
    }